.comment {
  text-align: center;
  background-color: #efb95f;
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/212121212.jpg);
  padding-top: 20px;
}

.zagolovok_section {
  padding-top: 20px;
  font-size: 22px;
  //
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  margin: 0 10px 0 10px;
  background-color: #efb95f;
  //
}

.card_conteiner_default {
  padding-bottom: 7px;
}

.card {
  padding: 10px 0 0 10px;
  border: 2px solid;
  margin: 20px 10px 20px 10px;
  text-align: left;
  background-color: #e0994d;
}

.card_image_comment {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.card_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.input_conteiner {
  text-align: left;
  padding-bottom: 50px;
  padding-left: 10px;
}

.opros {
  border: 2px solid;
  border-radius: 10px;
  padding: 0 0 0 8px;
  margin-right: 10px;
  background-color: #e0994d;
}

.test_textarea_comment {
  font-size: 19px;
  font-weight: 600;
}

.nick_name {
  height: 50px;
  width: 210px;
  padding: 5px 0 0 5px;
}

.nick_name_text {
  padding: 5px 0 0 5px;
}

.textarea_comment {
  width: 95%;
  height: 90px;
}

.submit {
  padding: 10px 20px 10px 20px;
}

.reset {
  padding: 10px 20px 10px 20px;
}

@media (min-width: 768px) {
  .comment {
    padding-left: 1rem;
  }

  .zagolovok_section {
    padding-top: 30px;
  }

  .card_conteiner,
  .card_conteiner_2 {
    display: flex;
    justify-content: space-between;
    width: 98%;
  }

  .zagolovok_section {
    padding: 10px 0px 10px 0;
    margin: 0 1rem 0 0;
  }

  .input_conteiner {
    padding-right: 10px;
  }

  .card_1 {
    width: 70%;
  }

  .card_2 {
    width: 30%;
  }

  .card_3 {
    width: 30%;
  }

  .card_4 {
    width: 70%;
  }
}
