.footer_wrapper {
  background-image: url(../images/phon.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  margin: auto;

  @media screen and (min-width: 768px) {
    background-image: url(../images/bc-horse.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/1200px-Western_Map_screen.jpg);
    background-size: cover;
  }
}

.footer {
  text-align: center;
  margin: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    font-weight: 500;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;

    text-align: center;
  }
}

.footer_form {
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
  }
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    width: 580px;
    padding-bottom: 0;
    margin-left: 15px;
  }
}

.footer_form-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 275px;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 580px;
    max-width: 580px;
  }
  @media screen and (min-width: 1200px) {
    width: 580px;
  }
}

.input {
  width: 271px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding-left: 21px;
  margin-bottom: 25px;
  color: #c1c1c1;
  border-radius: 5px;
  border: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.form-textarea {
  width: 271px;
  height: 100px;
  color: #c1c1c1;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding-left: 21px;
  padding-top: 17px;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 580px;
    height: 180px;
  }
}

.form-send {
  width: 171px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  border: 0 solid #ffffff;
  background-color: #8e6336;
  border-radius: 4px;
  padding: 10px 2px;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding: 0;
    margin-bottom: 32px;
    font-weight: 100;
    text-align: left;
    margin-right: 30px;
  }
}

.contact_title {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.footer-socials {
  margin-bottom: 40px;
  display: flex;
  width: 157px;
  justify-content: space-between;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin: 0 0 0 50px;
  }
}

.footer-link {
  width: 43px;
  height: 43px;
  display: inline-block;
  background-color: #c53e00;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 25px;
  background-image: url(../images/linkedin.png);
  margin: 5px;
}

.footer-link:nth-of-type(1) {
  background-image: url(../images/facebook.png);

  background-color: #a73117;
}

.footer-link:nth-of-type(2) {
  background-image: url(../images/twitter.png);

  background-color: #b43900;
}

.footer_info {
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  text-align: center;
  margin: auto;

  @media screen and (min-width: 768px) {
    margin-right: 300px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 310px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-right: 0px;
  }
}

.contact_number {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
  text-align: left;
  @media screen and (min-width: 768px) {
    color: #ffffff;
  }
}

.contact_email {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 47px;
  text-align: left;
  color: #000;
  @media screen and (min-width: 768px) {
    color: #ffffff;
  }
}

.contact__footer::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  opacity: 1;
  display: inline-block;
  margin-bottom: 22px;
}

.footer-copyright {
  font-size: 15px;

  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
  padding: 1rem;
  text-align: left;
  padding-bottom: 15px;
  @media screen and (min-width: 1024px) {
    padding: 1rem 7rem;
  }
  @media screen and (min-width: 1200px) {
    padding: 1rem 8rem;
  }
}
